<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
<label>
    <input id="account" type="text" name="account">
</label>
<label>
    <input id="pwd" type="text" name="pwd">
</label>
<button id="send">发起post请求</button>
</body>
<script src="/js/AjaxToolTwo.js"></script>
<script>
    window.addEventListener('load',function (ev) {
        var btn=document.getElementById('send');
        btn.addEventListener("click",function (ev1) {
            /*获取用户输入的内容*/
            var account =document.getElementById('account').value;
            var pwd =document.getElementById('pwd').value;
            var paramObj ={
                'account':account,
                'pwd':pwd
            };
            var param ={
                'requestType':'post',
                'url':'http://localhost:3000/api/five',
                'timeOut':2000,
                'paramObj':paramObj
            }
            /*准备发送*/
           AjaxTool.ajaxRequest(param,function (xhr) {
               console.log('成功',xhr.responseText);
           },function () {
               console.log('失败');
           })
        })
        /*var json = {  contry:{ area:{ man:"12万",  women:"10万" } } };
        var obj = eval(json);
        alert(obj.contry.area.women);*/
        /* console.log(getRandomStr());*/
    });
</script>
</html>
